.git
**/.git
target
**/target
**/node_modules
**/.rule/entities.db
**/.rule/entities.db-shm
**/.rule/entities.db-wal
**/.rule/search_index
**/.spec/entities.db
**/.spec/entities.db-shm
**/.spec/entities.db-wal
**/.ticket/entities.db
**/.ticket/entities.db-shm
**/.ticket/entities.db-wal
**/.audit/*.sqlite3