[submodule "petgraph"]
	path = crates/deps/petgraph
	url = https://github.com/mankinskin/petgraph
[submodule "justlog"]
	path = crates/deps/justlog
	url = https://github.com/mankinskin/justlog
[submodule "memory-api"]
	path = memory-api
	url = ../memory-api
[submodule "viewer-api"]
	path = viewer-api
	url = ../viewer-api
[submodule "memory-viewers"]
	path = memory-viewers
	url = ../memory-viewers
