[submodule "petgraph"]
	path = crates/deps/petgraph
	url = https://github.com/mankinskin/petgraph
[submodule "justlog"]
	path = crates/deps/justlog
	url = https://github.com/mankinskin/justlog
[submodule "memory-viewers"]
	path = memory-viewers
	url = ../memory-viewers
[submodule "context-stack"]
	path = crates/context-stack
	url = ../context-stack
