[submodule "context-stack"]
	path = context-stack
	url = https://github.com/mankinskin/context-stack
	branch = main
[submodule "memory-viewers"]
	path = memory-viewers
	url = https://github.com/mankinskin/memory-viewers
	branch = main
[submodule "memory-api"]
	path = memory-api
	url = https://github.com/mankinskin/memory-api
	branch = main
[submodule "viewer-api"]
	path = viewer-api
	url = https://github.com/mankinskin/viewer-api
	branch = main
[submodule "memory-kernel"]
	path = memory-kernel
	url = https://github.com/mankinskin/memory-kernel
	branch = main
[submodule "workflow-tools"]
	path = workflow-tools
	url = https://github.com/mankinskin/workflow-tools
	branch = main
